version: "3.9"

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: ClothesShopDB
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456789
    ports:
      - "5432:5432"
